%footer
  .container
    .row
      .col-xs-12.col-sm-4
        %h3
          About Us
        %ul
          %li
            = link_to "The Company", about_path, :anchor => 'company'
          %li
            = link_to "The People", about_path, :anchor => 'people'
          %li
            = link_to "Why we do it", about_path, :anchor => 'why'
      .col-xs-12.col-sm-4
        %h3
          Shop
        %ul
          %li
            New
          %li
            One of a Kinds (Defective/missprinted)
          %li
            Sizes
          %li
            Purchasing

      .col-xs-12.col-sm-4
        %h3
          Support
        %ul
          %li
            Contact Us
          %li
            = render "shared/social_links"
          %li
            Technical Assistance
    .row
      #epilogue.text-center
        %ol.breadcrumb
          %li
            &copy; #{current_year} #{full_company_name}
          %li
            All Rights Reserved
          %li
            = link_to "Terms of Use", terms_path

