.visible-sm.visible-md.visible-lg
  %nav.nav-menu

    .nav-logo.text-center
      = link_to root_path do
        = image_tag("branding/OQ_fulllogo_white.svg")
    .slogan

    %ul.nav.nav-stacked
      %li.nav-li-header
        = link_to lookbook_path do
          LOOKBOOK
          %span.ss-icon.ss-openbook.pull-right
      %li.nav-li-header
        = link_to shop_path do
          SHOP
          %span.ss-icon.ss-cart.pull-right
      %li.text-center.new
        = link_to shop_new_path do
          New
          %span.new-icon.pull-right
            NEW
      %li.text-center
        = link_to shop_gents_path do
          Gents
          %span.ss-icon.ss-user.pull-right
      %li.text-center
        = link_to shop_gals_path do
          Gals
          %span.ss-icon.ss-femaleuser.pull-right
      %li.text-center
        = link_to shop_uniques_path do
          One of a kinds
          %span.ss-icon.ss-flask.pull-right

      %li.nav-li-header
        = link_to "#" do
          ACCESSORIES
          %span.ss-icon.ss-stopwatch.pull-right

      %li.nav-li-header
        = link_to about_path do
          ABOUT US
          %span.ss-icon.ss-font.pull-right
      %li.nav-li-header
        = link_to "#" do
          SUPPORT
          %span.ss-icon.ss-info.pull-right
      %li.text-center
        = link_to "#" do
          Contact Us
          %span.ss-icon.ss-phone.pull-right

    .col-md-12
      = render "shared/social_links"