.visible-sm.visible-md.visible-lg
  %nav.nav-menu

    .nav-logo.text-center
      = image_tag("branding/OQ_fulllogo_white.svg")
    .slogan

    %ul.nav.nav-stacked
      %li.nav-li-header
        = link_to "LOOKBOOK", "#"
      %li.nav-li-header
        = link_to "SHOP", "#"
      %li.text-center
        = link_to "New", "#"
      %li.text-center
        = link_to "Gents", "#"
      %li.text-center
        = link_to "Gals", "#"
      %li.text-center
        = link_to "One of a Kinds", "#"

      %li.nav-li-header
        = link_to "ACCESSORIES", "#"
      %li.text-center
        = link_to "Menu 1", "#"
      %li.text-center
        = link_to "Menu 2", "#"

      %li.nav-li-header
        = link_to "ABOUT US", "#"
      %li.nav-li-header
        = link_to "SUPPORT", "#"
      %li.text-center
        = link_to "Contact Us", "#"

.visible-xs