.visible-md.visible-lg
  %nav.nav-menu

    .nav-logo.text-center
      = link_to root_path do
        = image_tag("branding/OQ_fulllogo_white.svg")
    .slogan

    %ul.nav.nav-stacked
      %li.nav-li-header
        = link_to "LOOKBOOK", "#"
      %li.nav-li-header
        = link_to "SHOP", shop_path
      %li.text-center.new
        = link_to "New", "#"
      %li.text-center
        = link_to "Gents", "#"
      %li.text-center
        = link_to "Gals", "#"
      %li.text-center
        = link_to "One of a Kinds", "#"

      %li.nav-li-header
        = link_to "ACCESSORIES", "#"
      %li.text-center
        = link_to "Menu 1", "#"
      %li.text-center
        = link_to "Menu 2", "#"

      %li.nav-li-header
        = link_to "ABOUT US", about_path
      %li.nav-li-header
        = link_to "SUPPORT", "#"
      %li.text-center
        = link_to "Contact Us", "#"

    .col-md-12
      = render "shared/social_links"

.visible-xs.visible-sm
  #mobile-navbar
    .navbar.navbar-fixed-top{ :role => "navigation" }
      .navbar-header
        %button.navbar-toggle
          %span.sr-only
            Toggle Navigation
          %span
            MENU
        = link_to "Overqualified.", root_path, :class => "navbar-brand"

      %ul.nav.text-center#mobile-navbar-menu
        %li.new
          = link_to "New", "#"
        %li
          = link_to "Shop", shop_path
        %li
          = link_to "Men's", "#"
        %li
          = link_to "Women's", "#"