%nav.nav-menu
  #nav-menu-toggle
    .ss-icon.ss-navigateleft

  .nav-logo.text-center
    = image_tag("branding/OQ_fulllogo_white.svg")
  .slogan

  %h5
    LOOKBOOK
  %h5
    T-SHIRTS
    %span.ss-icon
  %ul.nav.nav-stacked.text-center
    %li
      = link_to "Gents", "#"
    %li
      = link_to "Gals", "#"
  
  %h5
    ACCESSORIES
  %ul.nav.nav-stacked.text-center
    %li
      = link_to "Menu 1", "#"
    %li
      = link_to "Menu 2", "#"

  %h5
    ABOUT
  %h5
    SUPPORT
  %ul.nav.nav-stacked.text-center
    %li
      = link_to "Menu 1", "#"
    %li
      = link_to "Menu 2", "#"


  .footer
    .row
      .col-md-12
        Yo